<footer>
    <div class="f-info">
        <div class="f-info-socials">
            <a href="href="https://www.instagram.com/itz_sacchu.143?igsh=anRvcHh2bWp1MDhz""><i class="fa-brands fa-square-instagram"></i></a>
            <a href="href="https://www.linkedin.com/in/sachin-sisodiya-a9137826a/" "><i class="fa-brands fa-linkedin"></i></a>
            <i class="fa-brands fa-twitter"></i>
        </div>
        <div class="f-info-brand"> &copy; 2024 WanderLust Private Limited.</div>
        <div class="f-info-links">
            <a href="/privacy">Privacy</a>
            <a href="/terms">Terms</a>
        </div>
    </div>
</footer>
