<% layout("/layouts/boilerplate") %>
<div class="row">
    <h1 class="col-6 offset-3">SignUp on Wanderlust</h1>
    <div class="col-6 offset-3">
        <form method="POST" action="/signup" novalidate class="needs-validation">
            <div class="mb-3">
                <label for="username" class="form-label">Username</label>
                <input name="username" id="username" placeholder="Enter Username" type="text" class="form-control" required/>
                <div class="valid-feedback">Looks Good!</div>
                <div class="invalid-feedback">Enter a valid Username!</div>
            </div>
            <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <input name="email" placeholder="Enter Email"  id="email" type="email" class="form-control" required/>
                <div class="valid-feedback">Looks Good!</div>
                <div class="invalid-feedback">Enter a valid Email!</div>
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input name="password" placeholder="Enter Password"  id="password" type="password" class="form-control" required/>
                <div class="valid-feedback">Looks Good!</div>
                <div class="invalid-feedback">Enter a valid Password!</div>
            </div>
            <button class=" btn btn-success">SignUp</button>
        </form>    
    </div>
</div>